@media all and (max-width:679px){

	.menu_lateral {
	  width: 100vw!Important;
	  display: block;
	}
	button.btn.btn-toggle{
	font-size: 15px;
	color: darkorange;
	}
	.menu_lateral a.link-dark {
		font-size: 15px;
	}
    
}